@import "../../scss/variables.scss";
@import "../../scss/mixins";

.Reply {
  display: flex;

  .ReplyChats {
    padding-left: 25px;
    display: flex;
    flex-direction: column;
    gap: 15px;
  }

  .ReplyAvatar {
    width: 20%;

    img {
      @include avatar;
      margin-right: 25px;
    }
  }

  .ReplyName-time {
    @include UserName-time;

    .ReplyTime {
      color: $timeColor;
      font-size: 13px;
    }
  }

  .ReplyText {
    color: $textColor;
  }

  .ReplyBtnLike {
    @include btnLike;
  }

  .Replyliked {
    background-color: $primary;
    color: $light;
  }

  .ReplydisLiked {
    background-color: $gray;
  }
}
