@import "../../scss/variables.scss";
@import "../../scss/mixins";

.bodyChat {
  width: 100%;
  display: flex;
  padding: 15px 10px;

  .Profile {
    width: 20%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;

    .Avatar,
    .noneProfile {
      @include avatar;
    }
    .noneProfile {
      background-color: $avatarColor;
      color: $primary;
      display: flex;
      align-items: center;
      justify-content: center;
    }

    .borderLine {
      width: 1px;
      height: 100%;
      background-color: $borderColor;
    }
  }

  .Chats {
    padding-left: 25px;
    display: flex;
    flex-direction: column;
    gap: 15px;
  }

  .UserName-time {
    @include UserName-time;

    .Time {
      font-size: 13px;
      color: $timeColor;
    }
  }

  .text {
    color: $textColor;
  }

  .like-reply {
    display: flex;
    align-items: center;

    .btnLike {
      @include btnLike;
    }

    .liked {
      background-color: $primary;
      color: $light;
    }

    .disLiked {
      background-color: $gray;
    }

    .reply {
      color: $primary;
      cursor: pointer;
    }
  }
  .AddReply {
    display: flex;
    align-items: center;
    gap: 15px;
    padding-right: 15px;

    img {
      @include avatar;
    }
    .inputReply {
      @include input;
    }

    .inputReply::placeholder {
      color: $placeholderColor;
    }
  }
}
