.App {
  width: 50%;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  .container {
    border: 1px solid #e2dfdf;
  }
}

@media only screen and (max-width: 992px) {
  .App {
    width: 70%;
  }
}
@media only screen and (max-width: 576px) {
  .App {
    width: 100%;
  }
}
