$gray: #f3f3f3;
$light: #ffffff;
$placeholderColor: #a5adc1;
$nameColor: #000000;
$textColor: #707870;
$timeColor: #b0b7ca;
$iconColor: #909ab4;
$primary: #004cff;
$avatarColor: #deedfc;
$borderColor: #d6d8da;